<style>
 body{
    color: white;
    font-family: tahoma;
    background-color: black;
}   

.registration-form {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #003366;
  border-radius: 5px;
 
}   

.registration-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.registration-form p {
    text-align: center;
    margin-bottom: 50px;
}
    
label {
  display: block; 
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
margin-bottom: 10px;
  width: 95%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 3px;
  background-color: darkviolet;
  color: #eee;
}

.bgc{
    padding: 5px;
    width: 100%;
    height: 20px;
    background-color: darkviolet;
    border: none;
    color: black;
}

.btn {
    padding: 5px;
    width: 60%;
    height: 40px;
    background-color: darkviolet;
    border: 2px solid white; 
    color: white;               
    font-size: 16px;         
    border-radius: 3px;
}
.btndiv{
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

textarea::placeholder {
  color: cyan;
}

</style>